__pycache__/drone_goals.cpython-36.pyc
__pycache__/human_detector.cpython-36.pyc
__pycache__/image_control.cpython-36.pyc
cabinet_model/checkpoint
cabinet_model/ckpt-1.data-00000-of-00001
cabinet_model/ckpt-1.index
cabinet_model/ckpt-2.data-00000-of-00001
cabinet_model/ckpt-2.index
cabinet_model/ckpt-3.data-00000-of-00001
cabinet_model/ckpt-3.index
